svg#freepik_stories-in-no-time:not(.animated) .animable {
    opacity: 0;
}

svg#freepik_stories-in-no-time.animated #elrhk6rj7pjg {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elpa27t1urpgr {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.01818181818181818s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elzkyepxdr538 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.03636363636363636s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el8jvohaychrb {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.05454545454545454s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #eliputl8ah9ps {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.07272727272727272s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elhrcnii8iwfo {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.09090909090909091s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elft2m4zdam9 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.10909090909090909s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elqatocamrbh {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.12727272727272726s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el5b516ii9t1v {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.14545454545454545s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el6u6dkw62h34 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.16363636363636364s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elej3d3y961p {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.18181818181818182s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elit5r6ro9r3 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.19999999999999998s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elikdsvi67qy {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.21818181818181817s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elzszgjmwjjm {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.23636363636363636s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el0ysxyyhy153e {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.2545454545454545s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elonp38mvrorb {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.2727272727272727s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el8gnimxw4kis {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.2909090909090909s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elamf9rpq389m {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.3090909090909091s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elm43t9vallvd {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.32727272727272727s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elebdnon68yyh {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.34545454545454546s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el0ckw6nyt50f8 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.36363636363636365s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elimhlnf82hl {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.3818181818181818s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el01ncwy1cah5h {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.39999999999999997s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elyr4ahi98138 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.41818181818181815s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #eln72tbm9r3rf {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.43636363636363634s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elw13p26dirw {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.45454545454545453s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el771xygm18mw {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.4727272727272727s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elfjj085qov4 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.4909090909090909s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elp9avqls5ts {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.509090909090909s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #ely6nhprmozc {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5272727272727272s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elmji3rt2wyc {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5454545454545454s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elw3rgcquuab {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5636363636363636s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #eltm21ei5jj9l {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.5818181818181818s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #eldco93g3jx7h {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elvlfrwsa8g6 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6181818181818182s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elc6ss6ra5o0i {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6363636363636364s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elbsqofoo6xfb {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6545454545454545s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #eljozan6pe2xo {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6727272727272727s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #eljzy7foi86g {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.6909090909090909s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el6feb2s8br9m {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7090909090909091s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elt15e0e3qq19 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7272727272727273s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el7iu093n6krq {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7454545454545454s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el1sstpq3uqe {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7636363636363636s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elv6tbmmdgyqi {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7818181818181817s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el63f6xiiej26 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.7999999999999999s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el1426593mghsi {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8181818181818181s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elufex6tyfd {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8363636363636363s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elhy8mcnu6bkf {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8545454545454545s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elp2dygnwx9k {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8727272727272727s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el831ktglt05t {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.8909090909090909s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el28vf48ktjf2 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9090909090909091s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elbmwklpwwrd {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9272727272727272s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #el29nutujmor8 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9454545454545454s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #ellud2f3c5cqq {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9636363636363636s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #elb8tihn8qdl6 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    animation-delay: 0.9818181818181818s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #freepik--character-2--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn, 1.5s Infinite linear shake;
    animation-delay: 0.5s, 2.5s;
    opacity: 0
}

svg#freepik_stories-in-no-time.animated #freepik--speech-bubble--inject-15 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) fadeIn, 1.5s Infinite linear floating;
    animation-delay: 0s, 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes floating {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}